@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "Madness Hyperactive";
  src: url("../../public/fonts/MadnessHyperactive.otf");
}
@font-face {
  font-family: "Slabserif";
  src: url("../../public/fonts/Slabserif.otf");
}
html{
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    position: relative;
}
h1,h2, h3,h4,h5,h6{
  font-family: "Madness Hyperactive";
  letter-spacing: 1px;
}
a, div, span, p{
  font-family: "Slabserif";
}
.texturedContainer{
   position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: repeat;
  background-image: url("../../public/textureBg2.png");
  pointer-events: none;
  z-index: 0;
  background-color: #F0544F;
}